@keyframes load {
    from {
        opacity: 0%;
        margin-top: 40px;
    }
    to {
        opacity: 100%;
        margin-top: 0px;
    }
}

/* body{
    background-color: black;
    color: white;
    animation: load 1s;
}


h1{
    text-align: center;
    font-size: 3em;
}

textarea{
    width: 500px;
    height: 250px;
    font-size: 2.2em;
}

#container{
    margin-top:2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#btn{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 500px;
    height: 50px;
    font-size: 100%;
}

#btn:active{
    background-color: rgb(128, 194, 134);
}



.fade-in{
    animation: appear 0.4s;
}

.taskDiv{
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 18px;
    text-align: center;
    font-size: 2em;
    padding: 2px;
}

.checked{
    border: 1px solid rgb(9, 255, 0);
    color: rgb(9, 255, 0);
}


textarea{
    background-color: rgba(128, 128, 128, 0.24);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}

button{
    background-color: grey;
    border-radius: 10px;
    margin: 2px;
    transition: 0.2s;
    border: 0.2px solid white;
    width: 100px;
    font-weight: bolder;
    font-size: 50%;
}

button:hover{
    transition: 0.2s;
    border: 0.6px solid white;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

button:active{
    background-color: rgb(194, 128, 128);
} */


/* új design ^^ */
/* Az eredeti CSS beállítások VV */

li{
    list-style: none;
}

.taskDiv{
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    background-color: bisque;
    margin: 18px;
}




/* nem működő animáció (a végén ha nem működik töröljük!!) VV */
/* @keyframes appear {
    from {
    opacity: 0%;
    margin-top: 2%;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
  }
} */